.inner-banner-wrap {
  padding: 10px 0;
}

.form-warp .form-header
{color: #000; font-weight: 600;}


.inner-banner-wrap button {
  padding: 0;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f44336;
  color: white;
  box-shadow: 1px 1px 3px black;
  border: none;
}

.pages-section {
  padding: 30px 0;
}

.vertical-tabs .nav-link.active{
  padding-left: 8px;
}

.getyourinstititue-wrap{
  display: flex;
}

.mat-mdc-select {
  border-radius: 0;
}

.btn-blue-one{
  width: 100%;
  height: 36px;
  background: rgb(247, 118, 141);
    background: linear-gradient(90deg, rgba(247, 118, 141, 1) 50%, rgba(233, 115, 167, 1) 100%);
  // margin-top: 6px;
}

.btn-blue {
  width: 100%;
  height: 40px;
}

.mat-mdc-dialog-content {
  max-height: none;
  // overflow: hidden;
}

.exClass input:focus{
  border: 2px solid #3f51b5;
}

::ng-deep .mat-mdc-form-field-flex{
  height: 38px !important;
}

::ng-deep .mat-mdc-select{
  border: none;
}

::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  font-size: 14px;
  height: 28px !important;
}

::ng-deep .mat-mdc-select-trigger{
  height: 27px !important;
}

::ng-deep .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  height: 25px !important;
  padding: 0;
}


.form-card ul li {
  justify-content: unset !important; 

}
.doc_name{
  width: 55% !important;
}
.inputwidth{
    width: 200px !important;
}

.upload-wrap{
  fieldset {
    width: 100%;
  }
  #upload-document{
    ul{
      @media (max-width: 991.98px) {
        overflow-x: scroll;
      }
      li{
        // width: max-content;
       .btn {
          white-space: nowrap;
        }
      }
    }
  }
 .action-button{
    margin-top: 5px !important;
  }
}



@media (max-width: 1440px) {
  .mat-mdc-dialog-content {
      overflow-y: scroll;
      padding: 15px;
  }
  .vertical-tabs h5, .form-label, mat-label{
      font-size: 14px !important;
  }
  .vertical-tabs .nav-link {
    font-size: 12px;
    line-height: 35px;
    width: auto;
  }
  .mat-mdc-dialog-actions{
      min-height: 32px;
      padding: 0;
  }
  .inner-banner-wrap button {
      min-width: 30px;
      height: 30px;
  }
}

@media (max-width: 1024px) {
  .getyourinstititue-wrap{
    flex-wrap: wrap;
  }
}

@media (max-width: 991.98px) {
  .btn-blue {
    width: 75px;
  }
  
}


.inner-banner-wrap[_ngcontent-ng-c2710223340]{border:0px !important;}



.form-card  li.ng-star-inserted:first-child {
  border: 0px;
  padding: 0px 15px 15px 15px;
}
