<header class="header">
  <div class="top-header">
    <div class="container-fluid d-flex justify-content-between d-flex-mob">
      <div class="align-items-cente">
        <ul class="nav top-nav">
          <li class="nav-item">Government of India</li>
          <li class="nav-item">
            Ministry of Electronics & Information Technology
          </li>
          <li class="nav-item">
            <img src="assets/images/icons/Digital-India-Color.svg" />
          </li>
        </ul>
      </div>
      <div class="align-items-cente"></div>
      <!-- <ul class="nav top-right-nav">
        <li class="nav-item me-3">
          <a href="#"><img src="assets/images/icons/acces.svg" width="26" /></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link language" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            English <img src="assets/images/icons/arrow.svg" /></a>
          <ul class="dropdown-menu language-dropdownmenu">
            <li><a class="dropdown-item" href="#">Eglish</a></li>
            <li><a class="dropdown-item" href="#">Hindi</a></li>
          </ul>
        </li>
      </ul> -->
    </div>

    <!--top-header end-->
  </div>

  <div class="page-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
          <ul class="nav topwarp">
            <li class="logo-warp">
              <a class="logo" href="https://scholarships.gov.in/home">
                <img src="assets/images/nsp-logo.svg" class="dest" />
                <img src="assets/images/nsp_logo_short.svg" class="mob" />
              </a>

              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <div id="pencet">
                  <span class="top"></span>
                  <span class="middle"></span>
                  <span class="middle1"></span>
                  <span class="bottom"></span>
                  <div class="w-bg"></div>
                </div>
              </button>

              <a href="#" class="serch-icon-bg login-mob" id="serch-btn" data-bs-toggle="modal"
                data-bs-target="#serchBackdrop"><img src="assets/images/icons/serch-color.svg" width="24" /></a>

              <div class="dropdown login-mob">
                <a class="login-icon-bg login-mob" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <span class="login-icon-bg">
                    <img src="assets/images/icons/user-icon-white.svg" width="24" /></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="nav-link" href="student-login.html">
                      <span class="link-list-icon1"><img src="assets/images/icons/student-black.svg" /></span>
                      <span class="link-list-text">Student</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="institute-login.html"><span class="link-list-icon2"><img
                          src="assets/images/icons/institute-black.svg" /></span>
                      <span class="link-list-text">Institute</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="officer-login.html"><span class="link-list-icon3"><img
                          src="assets/images/icons/officer-black.svg" /></span>
                      <span class="link-list-text">Officer</span></a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body scroll custom-scroll">
              <div class="responcive-nav">
                <div class="accordion mt-4" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <img src="assets/images/icons/Student.svg" />Students
                      </button>
                      <h5>
                        <a href="https://scholarships.gov.in/Students"><span><img
                              src="assets/images/icons/Student.svg" /></span>Students</a>
                      </h5>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav studen-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/otrapplication/#/login-page"
                              target="_blank">Apply For One Time Registration (OTR)</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/ApplicationForm/"
                              target="_blank">Apply For Scholarship</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/searchInstitute" target="_blank">NSP
                              Registered Institute</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/All-Scholarships"
                              target="_blank">Schemes on NSP</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/payl/loginPage.action"
                              target="_blank">
                              Previous Year Application Status</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"
                              href="https://pfms.nic.in/static/NewLayoutCommonContent.aspx?RequestPagename=static/TrackNSPpayments.aspx"
                              target="_blank">Track your Payments</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://bhuvan-app3.nrsc.gov.in/aadhaar/" target="_blank">Aadhaar
                              Seva Kendras</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://resident.uidai.gov.in/bank-mapper" target="_blank">Check
                              Aadhar Seeding Status</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"
                              href="https://play.google.com/store/apps/details?id=in.gov.scholarships.nspotr&pli=1"
                              target="_blank">Get Nsp OTR App</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img src="assets/images/icons/Institute.svg" />
                        Institute
                      </button>
                      <h5>
                        <a href="https://scholarships.gov.in/Institute"><span><img
                              src="assets/images/icons/Institute.svg" /></span>
                          Institute</a>
                      </h5>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav institute-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="https://nsp.gov.in/" target="_blank">Login/ Register</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://nsp.gov.in/instEKYCRegistrationIndex"
                              target="_blank">Registration Form</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"
                              href="https://nsp.gov.in/public/manual/Operational_Steps_Involved_In_Filling_Institute_Registration_Form.pdf"
                              target="_blank">How to Fill Registration Form</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://aishe.gov.in/" target="_blank">Know your AISHE Code</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://aishe.gov.in/" target="_blank">Get AISHE code</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://udiseplus.gov.in/#/**" target="_blank">UDISE+ website
                              details</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="assets/images/icons/Officers.svg" /> Officers
                      </button>
                      <h5>
                        <a href="https://scholarships.gov.in/Officers"><span><img
                              src="assets/images/icons/Officers.svg" /></span>
                          Officers</a>
                      </h5>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav officer-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="https://nsp.gov.in/NSPADMIN/loginPage">Login/ Register</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/nodalofficerList"
                              target="_blank">Nodal Officers (Scheme-wise)</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"
                              href="https://scholarships.gov.in/public/nodalOfficersList/grievance_redressal_officer.pdf"
                              target="_blank">Grievance Redressal
                              Officers (GROs)</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <img src="assets/images/icons/Public.svg" /> Public
                      </button>
                      <h5>
                        <a href="https://scholarships.gov.in/Public"><span><img
                              src="assets/images/icons/Public.svg" /></span>
                          Public</a>
                      </h5>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav public-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="https://nsp.gov.in/dashboard/" target="_blank">Dashboard</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/onlineInstituteSearchIndex"
                              target="_blank">Find Institutes on NSP</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/searchInstitute"
                              target="_blank">Scholarship Eligibility</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/searchInstitute"
                              target="_blank">Applicants Processed for
                              Scholarships</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/nodelOfficerDetails"
                              target="_blank">Nodal Officers (Scheme-wise)</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/districtNodelOfficerDetails"
                              target="_blank">Nodal Officers
                              (District-wise Level)</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/nsphelpdesk" target="_blank">NSP
                              Helpdesk</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://scholarships.gov.in/pfmshelpdesk" target="_blank">PFMS
                              Helpdesk</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">Grievance Registration</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mobe-view-show border-0">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <img src="assets/images/icons/faq.svg" />FAQ
                      </button>

                      <h5>
                        <a href="#"><img src="assets/images/icons/faq.svg" />FAQ</a>
                      </h5>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav">
                          <li class="nav-item">
                            <a class="nav-link" href="Dashboard.html">Student</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="Find_Institutes_NSP.html">Institute</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="Scholarship_Eligibility.html">
                              Officer</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mobe-view-show border-0">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <img src="assets/images/icons/Announcements.svg" />
                        Announcements
                      </button>

                      <h5>
                        <a href="#"><img src="assets/images/icons/Announcements.svg" />
                          Announcements</a>
                      </h5>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav">
                          <li class="nav-item">
                            <a class="nav-link" href="Dashboard.html">Student</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="Find_Institutes_NSP.html">Institute</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="Scholarship_Eligibility.html">
                              Officer</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mobe-view-show border-0">
                    <h2 class="accordion-header">
                      <a href="NSP_Helpdesk.html" class="accordion-button nav-link">
                        <img src="assets/images/icons/Vector.svg" /> Helpdesk
                      </a>
                    </h2>
                    <h5>
                      <a href="NSP_Helpdesk.html"><img src="assets/images/icons/Vector.svg" />
                        Helpdesk</a>
                    </h5>
                  </div>

                  <div class="accordion-item about-bg">
                    <div class="accordion-body">
                      <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link" href="https://scholarships.gov.in/aboutUs" target="_blank">About NSP</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://scholarships.gov.in/nsphelpdesk" target="_blank">Contact
                            us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://scholarships.gov.in/siteMap" target="_blank">Site map</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-6 col-md-6 col-lg-7 col-xl-5 mob2">
          <div class="searchbox mt-3">
            <div class="dropdown filter-wrap">
              <a class="filter-btn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/images/icons/filter.svg" />
              </a>

              <ul class="dropdown-menu">
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked">
                      NSP registered Institutes
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <input type="text" class="form-control" placeholder="Search by Keywords..." />
            <button type="submit" class="btn serch-btn">
              <img src="assets/images/icons/serch-color.svg" />
            </button>
          </div>
        </div> -->

        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-9">
          <ul class="nav justify-content-end right-nav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span> FAQ’s</span> <img src="assets/images/icons/faq.svg" />
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/studentFAQs" target="_blank">
                    <span class="link-list-icon1"><img src="assets/images/icons/student-black.svg" /></span>
                    <span class="link-list-text">Student</span>
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/public/FAQ/INSTITUTE_FAQ_21122023_UPDATED.pdf"
                    target="_blank">
                    <span class="link-list-icon2"><img src="assets/images/icons/institute-black.svg" /></span>
                    <span class="link-list-text">Institute</span>
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/public/FAQ/DNO_SNO_FAQs_21122023_updated.pdf"
                    target="_blank">
                    <span class="link-list-icon3"><img src="assets/images/icons/officer-black.svg" /></span>
                    <span class="link-list-text">Officer</span></a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>Announcements</span>
                <img src="assets/images/icons/Announcements.svg" />
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/student-announcements" target="_blank"><span
                      class="link-list-icon1"><img src="assets/images/icons/student-black.svg" /></span>
                    <span class="link-list-text">Student</span></a>
                </li>
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/institute-announcements" target="_blank"><span
                      class="link-list-icon2"><img src="assets/images/icons/institute-black.svg" /></span>
                    <span class="link-list-text">Institute</span>
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/officer-announcements" target="_blank"><span
                      class="link-list-icon3"><img src="assets/images/icons/officer-black.svg" /></span>
                    <span class="link-list-text">Officer</span></a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>Helpdesk</span>
                <img src="assets/images/icons/Vector.svg" />
              </a>
              <ul class="dropdown-menu" style="min-width: 180px;">
                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/nsphelpdesk" target="_blank"><span
                      class="link-list-icon1"><img src="assets/images/icons/student-black.svg" /></span>
                    <span class="link-list-text">NSP Helpdesk.</span></a>
                </li>

                <li>
                  <a class="nav-link" href="https://scholarships.gov.in/pfmshelpdesk" target="_blank">
                    <span class="link-list-icon1"><img src="assets/images/icons/student-black.svg"
                        style="width: 30px" /></span>
                    <span class="link-list-text">PFMS Helpdesk</span></a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="inner-banner-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="inner-banner">
          <img src="assets/images/banner/weferfe.svg" />

          <h3 class="header-title">Public</h3>
        </div>
      </div>
      <div class="col-sm-12">
        <ul class="nav nav-tabs custom-tab public-bg">

          <li class="nav-item">
            <a href="https://scholarships.gov.in/" class="nav-link"> <img src="assets/images/icons/back-btn-white.svg">
            </a>
          </li>


          <li class="nav-item">
            <a href="#" class="nav-link active custom-btn">
              <img class="pe-2" src="assets/images/icons/student-white.svg" alt="Login" />
              <span>Nodal Officers (Scheme-Wise)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--inner-banner-wrap End-->
</div>





<!-- my second work  -->
<div class="container" [formGroup]="formSubmit">
  <div class="row nodal-officer">
    <div class="col-md-5">
      <div class="mt-5">
        <h3 class="m-0 fw-bold">Select any</h3>
      </div>
      <div class="col-md-12  mb-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (change)="getRadioBtnVal($event)" formControlName="radioBtnVal"
            name="radioBtnVal" id="ministryHideShow" value="M" checked>
          <label class="form-check-label" for="ministryHideShow">Ministry</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (change)="getRadioBtnVal($event)" formControlName="radioBtnVal"
            name="radioBtnVal" id="stateHideShow" value="S">
          <label class="form-check-label" for="stateHideShow">State</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (change)="getRadioBtnVal($event)" formControlName="radioBtnVal"
            name="radioBtnVal" id="districtHideShow" value="D">
          <label class="form-check-label" for="districtHideShow">District</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (change)="getRadioBtnVal($event)" formControlName="radioBtnVal"
            name="radioBtnVal" id="zoneHideShow" value="Z">
          <label class="form-check-label" for="zoneHideShow">Zone</label>
        </div>
      </div>
      <div *ngIf="ministry">
        <h3 class="fw-bold">Select Ministry</h3>
        <select (change)="loadScheme($event)" formControlName="ministry" class="form-select"
          aria-label="Default select example">
          <option selected>Choose your option</option>
          <option *ngFor="let option of ministryList" value="{{option.ministry_id}}">{{option.ministry_name}}</option>
        </select>
      </div>
      <div *ngIf="scheme">
        <h3 class="fw-bold">Scheme</h3>
        <select (change)="getSchemeId($event)" formControlName="scheme" class="form-select"
          aria-label="Default select example">
          <option selected>Choose your option</option>
          <option *ngFor="let option of filterdScheme" value="{{option.schemeId}}">{{option.schemeName}}</option>
        </select>
      </div>

      <div *ngIf="state">
        <h3 class="fw-bold">State</h3>
        <select (change)="loadDistrct($event)" formControlName="state" class="form-select"
          aria-label="Default select example">
          <option selected>Choose your option</option>
          <option *ngFor="let option of stateList" value="{{option.state_id}}">{{option.state_name}}</option>
        </select>
      </div>

      <div *ngIf="district">
        <h3 class="fw-bold">District</h3>
        <select (change)="getDistrictId($event)" formControlName="district" class="form-select"
          aria-label="Default select example">
          <option selected>Choose your option</option>
          <option *ngFor="let option of filterdDistrict" value="{{option.district_id}}">{{option.district_name}}
          </option>
        </select>
      </div>

      <div *ngIf="zone">
        <h3 class="fw-bold">Ministry/Zone</h3>
        <select (change)="getZoneID($event)" formControlName="zone" class="form-select"
          aria-label="Default select example">
          <option value="-1">Choose your option</option>
          <option value="10">Ministry of Home Affairs</option>
          <option value="12">Ministry of Railways (Railway Board)</option>
        </select>
      </div>
      <div class="captcha">
        <h4 class="fw-bold mt-3">Image Captcha</h4>
        <div class="row mb-4">
          <div class="col-md-12 imageSource">
            <div class="row align-items-center">
              <div class="col-md-10">
                <div class="border captcha text-center">
                  <img [src]="imageSource" alt="Image Source" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="refresh-captcha">
                  <img src="assets/images/icons/refresh.svg" height="35" width="35" (click)="generateCaptchaImage()" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 captcha-input" style="margin-top: 8px">
            <h4 class="fw-bold mt-2">Enter Captcha Code *</h4>
            <input type="text" formControlName="captchaText" class="form-control fw-bold" placeholder="Enter Captcha"
              matInput />
          </div>
          <div *ngIf="formSubmit.controls['captchaText']?.touched && formSubmit.controls['captchaText']?.invalid">
            <span style="color: red; font-size: 13px; font-weight: 600;"
              *ngIf="formSubmit.controls['captchaText']?.errors?.['required']">This
              Field is required.</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-md-3 submitbtn mt-3">
          <button (click)="validateCaptcha()" class="btn rounded-0 login-btn">
            <a style="text-decoration: none; color: #fff; display: block">
              Submit</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- end of second work -->








<!-- <div class="container" [formGroup]="formSubmit">
  <div class="row nodal-officer">
    <div class="col-md-5">
      <div class="mt-5">
        <h3 class="m-0 fw-bold">Select any</h3>
      </div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            <div class="form-check">
              <input class="form-check-input" id="ministryHideShow" value="M" style="cursor: pointer;" type="radio" name="radioBtnVal"
                formControlName="radioBtnVal" checked>
              <label class="form-check-label fw-bold text-dark" for="ministryHideShow">
                Ministry
              </label>
            </div>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
            <div class="form-check">
              <input class="form-check-input" value="S" id="stateHideShow" style="cursor: pointer;" type="radio" name="radioBtnVal"
                formControlName="radioBtnVal">
              <label class="form-check-label fw-bold text-dark" for="stateHideShow">
                State
              </label>
            </div>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            <div class="form-check">
              <input class="form-check-input" value="D" id="districtHideShow" type="radio" style="cursor: pointer;" name="radioBtnVal"
                formControlName="radioBtnVal">
              <label class="form-check-label fw-bold text-dark" for="districtHideShow">
                District
              </label>
            </div>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-zone-tab" data-bs-toggle="pill" data-bs-target="#pills-zone" type="button"
            role="tab" aria-controls="pills-zone" aria-selected="false">
            <div class="form-check">
              <input class="form-check-input" value="Z" id="zoneHideShow" type="radio" style="cursor: pointer;" name="radioBtnVal"
                formControlName="radioBtnVal">
              <label class="form-check-label fw-bold text-dark" for="zoneHideShow">
                Zone
              </label>
            </div>
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div>
            <h3 class="fw-bold">Select Ministry</h3>
            <select (change)="loadScheme($event)" formControlName="ministry" class="form-select" aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of ministryList" value="{{option.ministry_id}}">{{option.ministry_name}}</option>
            </select>
          </div>
          <div class="captcha">
            <h4 class="fw-bold mt-3">Image Captcha</h4>
            <div class="row mb-4">
              <div class="col-md-12 imageSource">
                <div class="row align-items-center">
                  <div class="col-md-10">
                    <div class="border captcha text-center">
                      <img [src]="imageSource" alt="Image Source" />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="refresh-captcha">
                      <img src="assets/images/icons/refresh.svg" height="35" width="35"
                        (click)="generateCaptchaImage()" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 captcha-input" style="margin-top: 8px">
                <h4 class="fw-bold mt-2">Enter Captcha Code *</h4>
                <input type="text" formControlName="captchaText" class="form-control fw-bold"
                  placeholder="Enter Captcha" matInput />
              </div>
              <div *ngIf="formSubmit.controls['captchaText']?.touched && formSubmit.controls['captchaText']?.invalid">
                <span style="color: red; font-size: 13px; font-weight: 600;"
                  *ngIf="formSubmit.controls['captchaText']?.errors?.['required']">This
                  Field is required.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div>
            <h3 class="fw-bold">Select Ministry</h3>
            <select (change)="loadScheme($event)" formControlName="ministry" class="form-select"
              aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of ministryList" value="{{option.ministry_id}}">{{option.ministry_name}}</option>
            </select>
          </div>
          <div>
            <h3 class="fw-bold">Scheme</h3>
            <select (change)="getSchemeId($event)" formControlName="scheme" class="form-select"
              aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of filterdScheme" value="{{option.schemeId}}">{{option.schemeName}}</option>
            </select>
          </div>
          <div>
            <h3 class="fw-bold">State</h3>
            <select (change)="loadDistrct($event)"  formControlName="state" class="form-select" aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of stateList" value="{{option.state_id}}">{{option.state_name}}</option>
            </select>
          </div>
          <div class="captcha">
            <h4 class="fw-bold mt-3">Image Captcha</h4>
            <div class="row mb-4">
              <div class="col-md-12 imageSource">
                <div class="row align-items-center">
                  <div class="col-md-10">
                    <div class="border captcha text-center">
                      <img [src]="imageSource" alt="Image Source" />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="refresh-captcha">
                      <img src="assets/images/icons/refresh.svg" height="35" width="35"
                        (click)="generateCaptchaImage()" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 captcha-input" style="margin-top: 8px">
                <h4 class="fw-bold mt-2">Enter Captcha Code *</h4>
                <input type="text" formControlName="captchaText" class="form-control fw-bold"
                  placeholder="Enter Captcha" matInput />
              </div>
              <div *ngIf="formSubmit.controls['captchaText']?.touched && formSubmit.controls['captchaText']?.invalid">
                <span style="color: red; font-size: 13px; font-weight: 600;"
                  *ngIf="formSubmit.controls['captchaText']?.errors?.['required']">This
                  Field is required.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div>
            <h3 class="fw-bold">Select Ministry</h3>
            <select (change)="loadScheme($event)" formControlName="ministry" class="form-select"
              aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of ministryList" value="{{option.ministry_id}}">{{option.ministry_name}}</option>
            </select>
          </div>
          <div>
            <h3 class="fw-bold">Scheme</h3>
            <select formControlName="scheme" class="form-select" aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of filterdScheme" value="{{option.schemeId}}">{{option.schemeName}}</option>
            </select>
          </div>
          <div>
            <h3 class="fw-bold">State</h3>
            <select (change)="loadDistrct($event)" formControlName="state" class="form-select"
              aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of stateList" value="{{option.state_id}}">{{option.state_name}}</option>
            </select>
          </div>
          <div>
            <h3 class="fw-bold">District</h3>
            <select (change)="getDistrictId($event)" formControlName="district" class="form-select"
              aria-label="Default select example">
              <option selected>Choose your option</option>
              <option *ngFor="let option of filterdDistrict" value="{{option.district_id}}">{{option.district_name}}
              </option>
            </select>
          </div>
          <div class="captcha">
            <h4 class="fw-bold mt-3">Image Captcha</h4>
            <div class="row mb-4">
              <div class="col-md-12 imageSource">
                <div class="row align-items-center">
                  <div class="col-md-10">
                    <div class="border captcha text-center">
                      <img [src]="imageSource" alt="Image Source" />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="refresh-captcha">
                      <img src="assets/images/icons/refresh.svg" height="35" width="35"
                        (click)="generateCaptchaImage()" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 captcha-input" style="margin-top: 8px">
                <h4 class="fw-bold mt-2">Enter Captcha Code *</h4>
                <input type="text" formControlName="captchaText" class="form-control fw-bold"
                  placeholder="Enter Captcha" matInput />
              </div>
              <div *ngIf="formSubmit.controls['captchaText']?.touched && formSubmit.controls['captchaText']?.invalid">
                <span style="color: red; font-size: 13px; font-weight: 600;"
                  *ngIf="formSubmit.controls['captchaText']?.errors?.['required']">This
                  Field is required.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-zone" role="tabpanel" aria-labelledby="pills-zone-tab">
          <div>
            <h3 class="fw-bold">Ministry/Zone</h3>
            <select (change)="getZoneID($event)" formControlName="zone" class="form-select"
              aria-label="Default select example">
              <option value="-1">Choose your option</option>
              <option value="10">Ministry of Home Affairs</option>
              <option value="12">Ministry of Railways (Railway Board)</option>
            </select>
          </div>
          <div class="captcha">
            <h4 class="fw-bold mt-3">Image Captcha</h4>
            <div class="row mb-4">
              <div class="col-md-12 imageSource">
                <div class="row align-items-center">
                  <div class="col-md-10">
                    <div class="border captcha text-center">
                      <img [src]="imageSource" alt="Image Source" />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="refresh-captcha">
                      <img src="assets/images/icons/refresh.svg" height="35" width="35"
                        (click)="generateCaptchaImage()" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 captcha-input" style="margin-top: 8px">
                <h4 class="fw-bold mt-2">Enter Captcha Code *</h4>
                <input type="text" formControlName="captchaText" class="form-control fw-bold"
                  placeholder="Enter Captcha" matInput />
              </div>
              <div *ngIf="formSubmit.controls['captchaText']?.touched && formSubmit.controls['captchaText']?.invalid">
                <span style="color: red; font-size: 13px; font-weight: 600;"
                  *ngIf="formSubmit.controls['captchaText']?.errors?.['required']">This
                  Field is required.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-3 submitbtn mt-3">
          <button (click)="validateCaptcha()" class="btn rounded-0 login-btn">
            <a style="text-decoration: none; color: #fff; display: block">
              Submit</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->








<ng-container *ngIf="showTable">
  <div class="tableview mt-5">
    <div class="container">
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="table-secondary">
            <th align="center">S.No</th>
            <th align="center"><b>Nodal Officer Name</b></th>
            <th align="center"><b>Email-Id</b></th>
            <th align="center"><b>Telephone-No</b></th>
            <th align="center"><b>Address</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ministryWiseNodalDetails let i = index" bgcolor="#FFFFFF">
            <td align="center">{{i + 1}}</td>
            <td> {{data.name}}</td>
            <td> {{data.email}}</td>
            <td> {{data.mobileNo}}</td>
            <td> {{data.address}}</td>

          </tr>



        </tbody>
      </table>
    </div>
  </div>
  <div class="table_btn" *ngIf="hideTableBtn">
    <button (click)="hideTable()" class="btn btn-primary">OK</button>
  </div>
</ng-container>














<footer>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-12">
        <!-- <ul class="nav footer-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="copyright-policy.html">Copyright Policy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="privacy-policy.html"> Privacy Policy </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="terms-conditions.html">
              Terms and Conditions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="disclaimer.html"> Disclaimer </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hyperlink.html"> Hyperlink </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="policy.html"> Policy </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="site-map.html"> Site Map</a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  <!-- <div class="last-update-bg">Last updated on: {{ currentDateTime }}</div> -->
  <div class="last-update-bg">Last updated on: {{ currentDateTime }}</div>

</footer>